.env
.vscode
.DS_Store
.nodeenv

node_modules/

lockbox

client/

dev*
prod*
stage*


combined.log
error.log
audit.log

coverage
scratch

# keys
lockbox/keys.enc
lockbox/prod
lockbox/staging

# Actual data

api/coverage
api/tmp
api/logs

frontend/src/styles/app.css