.smeqa-radio--horizontal {
  list-style-type: none;
  margin-top: 0;
  text-align: center;
}
.smeqa-radio--horizontal__container {
  position: relative;
  display: list-item;
  width: 45%;
  max-width: 5rem;
  float: left;
  margin: 0;
}
.smeqa-radio--horizontal__container:first-child {
  margin-right: units(1);
}
